version: '0.1'
services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    environment:
      - PUID=568
      - PGID=568
      - TZ=America/Chicago 
    volumes:
      - /mnt/storage/share/audiobook:/audiobook
      - /mnt/storage/share/postcast:/podcasts
      - /mnt/container/appfs/audiobookshelf/config:/config
      - /mnt/container/appfs/audiobookshelf/metadata:/metadata
    ports:
      - 13378:80
    restart: unless-stopped
