version: '0.1'
services:
  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    user: 1000:3000
    environment:
      - TZ=America/Chicago
      - UN_LOG_FILE=/downloads/qbittorrent/unpackerr.log
      #- UN_SONARR_0_URL=http://sonarr:8989
      #- UN_SONARR_0_API_KEY=32coolcatcharacters
      - UN_RADARR_0_URL=https://movie.nnlink.org
      - UN_RADARR_0_API_KEY=${RADARRAPI}
      - UN_RADARR_1_URL=https://movie4k.nnlink.org
      - UN_RADARR_1_API_KEY=${RADARR4KAPI}
    volumes:
      - /mnt/storage/downloads:/downloads
    restart: unless-stopped