version: '0.1'
services:
  sonarr4k:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr4k
    environment:
      - PUID=1000
      - PGID=3000
      - TZ=America/Chicago
    volumes:
      - /mnt/container/appfs/sonarr4k:/config
      - /mnt/storage/share/tv4k:/tv
      - /mnt/storage/downloads:/downloads 
    ports:
      - 8989:8989
    restart: unless-stopped